include TODO
include AUTHORS
include LICENSE
include README.md

include tests/*
include devscripts/*

recursive-include docs *

prune docs/_build
prune docs/docs

exclude docs/.nojekyll

global-exclude *.pyc *.png
